<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>10-jakarta-srv-listener-filter</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>com.jdc.mkt.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/listener/add</url-pattern>
		<url-pattern>/listener/replaced</url-pattern>
		<url-pattern>/listener/removed</url-pattern>
		<url-pattern>/filter/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.jdc.mkt.ApplicationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.jdc.mkt.RequestListener</listener-class>
	</listener>
</web-app>